@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
#main{
    padding-top: 7rem;
}
.taskBg{
    background-color: #EBEBEB;
}
.description{
    color: #FFC745;
    background-color: #293642;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    align-items: center;
    font-weight: bold !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.alert{
  width:50%;
  margin:20px auto;
  padding:30px;
  position:relative;
  border-radius:5px;
  box-shadow:0 0 15px 5px #ccc;
}
.close{
  position:absolute;
  width:30px;
  height:30px;
  opacity:0.5;
  border-width:1px;
  border-style:solid;
  border-radius:50%;
  right:15px;
  top:25px;
  text-align:center;
  font-size:1.6em;
  cursor:pointer;
}
.alert{
    width: 100% !important;
}
.alert h3{
    font-size: 17px;
    font-family:Quicksand;
}
.alert-danger{
    background-color: #f7a7a3;
    border-left: 5px solid #8f130c;
}
.alert-danger .close{
    border-color: #8f130c;
    color: #8f130c;
}
.alert-success {
    background-color: #a8f0c6;
    border-left: 5px solid #178344;
}
.alert-success .close{
    border-color: #178344;
    color: #178344;
}
img{
    max-width: 15%;
    height: auto;
}
@media (max-width: 575px) {
    img{
        min-width: 60px;
    }
}
.base{
  white-space: normal !important;
}
.form-check-label .base{
  width: 100% !important;
}
.katex .base, .katex .strut {
  display: inherit !important;
}
