<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
          {% for set in sets: %}
         
          
             {% for n in range(1,set['zestaw']|length) %}
                {% set answer_strings = ['A)', 'B)', 'C)','D)'] %}
               
                <h1>{{ "Pytanie"+n|string+": "+set['zestaw']['pytanie'+n|string]['tresc']|replace("ZMIENNA1", set['zestaw']["pytanie"+n|string]["warianty"][0]) }}</h1>
                
                
                {% for x in range(0,set['zestaw']["pytanie"+n|string]['odpowiedzi']|length) %}
                
                <h2>{{answer_strings[x]+" "+set['zestaw']["pytanie"+n|string]['odpowiedzi'][x]}}</h2>
                {% endfor %}
                <hr>
             {% endfor %}
	{% endfor %}
        
        <script src="" async defer></script>
    </body>
</html>