{% extends 'forum/base.html' %} {% block content %}
<a href="{% url 'index' %}"
  ><button><i class="fas fa-home fa-3x"></i></button></a
><br /><br />
<form method="post" action="{% url 'register2' %}">
  {% csrf_token %}
  <label for="Name">xd:</label><br /><br />
  <script>
        var mathFieldSpan = document.getElementById('math-field');
        var latexSpan = document.getElementById('latex');
        var MQ = MathQuill.getInterface(2); // for backcompat
    </script>
    <p>x=<span id="answer"></span></p>
    <div style="width:150px;border-style: solid; ">
        <p id="sqrt">√</p>
        <img src="mld.jpg" id="mld">
        <img src="plus.jpg" id="plus">
        <img src="minus.jpg" id="minus">
        <img src="przecinek.jpg" id="przecinek">
        <img src="pi.jpg" id="pi">
        <img src="dzielenie.jpg" id="dzielenie">
        <img src="potega.jpg" id="potega">
        <img src="cbrt.jpg" id="cbrt">
    </div>
    <p>LaTeX of what you typed: <span id="latex"></span></p>
    <script>
        var answerSpan = document.getElementById('answer');
        var latexSpan = document.getElementById('latex');
        var answerMathField = MQ.MathField(answerSpan, {
        handlers: {
             edit: function() {
                    var enteredMath = answerMathField.latex(); // Get entered math in LaTeX format
                    latexSpan.textContent = answerMathField.latex();
                }
            }
        });
         $( "#sqrt" ).click(function() {
            answerMathField.write('\\sqrt{}');
            answerMathField.reflow();
        });
        
        $( "#mld" ).click(function() {
            answerMathField.write('\\cdot');
            answerMathField.reflow();
        });
        $( "#plus" ).click(function() {
            answerMathField.write('+');
            answerMathField.reflow();
        });
        $( "#minus" ).click(function() {
            answerMathField.write('-');
            answerMathField.reflow();
        });
        $( "#przecinek" ).click(function() {
            answerMathField.write(',');
            answerMathField.reflow();
        });
        $( "#pi" ).click(function() {
            answerMathField.write('\\pi');
            answerMathField.reflow();
        });
        $( "#dzielenie" ).click(function() {
            answerMathField.write('\\frac{ }{ }');
            answerMathField.reflow();
        });
        $( "#potega" ).click(function() {
            answerMathField.write('\\^{}');
            answerMathField.reflow();
        });
        $( "#cbrt" ).click(function() {
            answerMathField.write('\\sqrt[]{}');
            answerMathField.reflow();
        });
       
    </script>
  <input type="Name" name="Name" id="Name" /><br /><br />
  <label for="Password">xd:</label><br /><br />
  <input type="Password" name="Password" id="Password" /><br /><br />
  <input type="submit" value="add user" />
</form>
{% endblock content %}
