{% extends 'forum/addQuestionOpen.html' %}
{% load static %}
{% block typeQuestion %} {% endblock typeQuestion %}
{% block urlName %} {% url 'addQuestionCloseToDatabase' %}{% endblock urlName %}
{% block solution %} {% endblock solution %}
{% block closedQuestionOption %}
<h6>Odpowiedź A</h6>
<div class="row">
  <div class="col-sm-7 offset-sm-1 border2" id="QueDivA">

    <span id="mathQuillA" class="border-0"></span><textarea id="latexA" rows="3" name="inputAnswerA" required
      style="opacity:0;width:0px;height:0px;"></textarea>
  </div>
  <div class="col-sm-3 border2 ml-5">
    <div class="row">
      <div class="col" id="sqrtA">√</div>
      <div class="col" id="piA">π</div>
      <div class="col" id="przerwaA">↵</div>
      <div class="col" id="dzielenieA">¼</div>
      <div class="col" id="potegaA">^</div>
      <div class="w-100"></div>
      <div class="col" id="cbrtA">∛</div>
      <div class="col" id="calkaA">∫</div>
      <div class="col" id="sumaA">Σ</div>
      <div class="col" id="logA">$\log_{n}k$</div>
      <div class="col" id="newtonA">$\binom{N}{k}$</div>
      <div class="w-100"></div>
      <div class="col" id="AlfaA">α</div>
      <div class="col" id="BetaA">β</div>
      <div class="col" id="leA">⩽</div>
      <div class="col" id="geA">⩾</div>
      <div class="col" id="nalezyA">∈</div>
      <div class="w-100"></div>
      <div class="col offset-sm-3" id="indexA">$x^k_n$</div>
      <div class="col" id="infA">∞</div>
    </div>
  </div>
</div>
<h6>Odpowiedź B</h6>
<div class="row">
  <div class="col-sm-7 offset-sm-1 border2" id="QueDivB">

    <span id="mathQuillB" class="border-0"></span><textarea id="latexB" rows="3" name="inputAnswerB" required
      style="opacity:0;width:0px;height:0px;"></textarea>
  </div>
  <div class="col-sm-3 border2 ml-5">
    <div class="row">
      <div class="col" id="sqrtB">√</div>
      <div class="col" id="piB">π</div>
      <div class="col" id="przerwaB">↵</div>
      <div class="col" id="dzielenieB">¼</div>
      <div class="col" id="potegaB">^</div>
      <div class="w-100"></div>
      <div class="col" id="cbrtB">∛</div>
      <div class="col" id="calkaB">∫</div>
      <div class="col" id="sumaB">Σ</div>
      <div class="col" id="logB">$\log_{n}k$</div>
      <div class="col" id="newtonB">$\binom{N}{k}$</div>
      <div class="w-100"></div>
      <div class="col" id="AlfaB">α</div>
      <div class="col" id="BetaB">β</div>
      <div class="col" id="leB">⩽</div>
      <div class="col" id="geB">⩾</div>
      <div class="col" id="nalezyB">∈</div>
      <div class="w-100"></div>
      <div class="col offset-sm-3" id="indexB">$x^k_n$</div>
      <div class="col" id="infB">∞</div>
    </div>
  </div>
</div>
<h6>Odpowiedź C</h6>
<div class="row">
  <div class="col-sm-7 offset-sm-1 border2" id="QueDivC">

    <span id="mathQuillC" class="border-0"></span><textarea id="latexC" rows="3" name="inputAnswerC" required
      style="opacity:0;width:0px;height:0px;"></textarea>
  </div>
  <div class="col-sm-3 border2 ml-5">
    <div class="row">
      <div class="col" id="sqrtC">√</div>
      <div class="col" id="piC">π</div>
      <div class="col" id="przerwaC">↵</div>
      <div class="col" id="dzielenieC">¼</div>
      <div class="col" id="potegaC">^</div>
      <div class="w-100"></div>
      <div class="col" id="cbrtC">∛</div>
      <div class="col" id="calkaC">∫</div>
      <div class="col" id="sumaC">Σ</div>
      <div class="col" id="logC">$\log_{n}k$</div>
      <div class="col" id="newtonC">$\binom{N}{k}$</div>
      <div class="w-100"></div>
      <div class="col" id="AlfaC">α</div>
      <div class="col" id="BetaC">β</div>
      <div class="col" id="leC">⩽</div>
      <div class="col" id="geC">⩾</div>
      <div class="col" id="nalezyC">∈</div>
      <div class="w-100"></div>
      <div class="col offset-sm-3" id="indexC">$x^k_n$</div>
      <div class="col" id="infC">∞</div>
    </div>
  </div>
</div>
<h6>Odpowiedź D</h6>
<div class="row">
  <div class="col-sm-7 offset-sm-1 border2" id="QueDivD">

    <span id="mathQuillD" class="border-0"></span><textarea id="latexD" rows="3" name="inputAnswerD" required
      style="opacity:0;width:0px;height:0px;"></textarea>
  </div>
  <div class="col-sm-3 border2 ml-5">
    <div class="row">
      <div class="col" id="sqrtD">√</div>
      <div class="col" id="piD">π</div>
      <div class="col" id="przerwaD">↵</div>
      <div class="col" id="dzielenieD">¼</div>
      <div class="col" id="potegaD">^</div>
      <div class="w-100"></div>
      <div class="col" id="cbrtD">∛</div>
      <div class="col" id="calkaD">∫</div>
      <div class="col" id="sumaD">Σ</div>
      <div class="col" id="logD">$\log_{n}k$</div>
      <div class="col" id="newtonD">$\binom{N}{k}$</div>
      <div class="w-100"></div>
      <div class="col" id="AlfaD">α</div>
      <div class="col" id="BetaD">β</div>
      <div class="col" id="leD">⩽</div>
      <div class="col" id="geD">⩾</div>
      <div class="col" id="nalezyD">∈</div>
      <div class="w-100"></div>
      <div class="col offset-sm-3" id="indexD">$x^k_n$</div>
      <div class="col" id="infD">∞</div>
    </div>
  </div>
</div>

{% endblock closedQuestionOption %}