{% extends 'forum/addQuestionOpen.html' %} 
{% load static %}
{% block typeQuestion %} <h2>Dodaj Pytanie Zamknięte!</h2>{% endblock typeQuestion %}
{% block urlName %} {% url 'addQuestionCloseToDatabase' %}{% endblock urlName %}
{% block solution %} {% endblock solution %}
{% block closedQuestionOption %}
   <h6>Odpowiedź A</h6>
    <div class="row">
               <div class="col-sm-7 offset-sm-1 border2" id="QueDivA" >
              
                  <span id="mathQuillA" class="border-0"></span><textarea  id="latexA" rows="3" name="inputAnswerA" required style="opacity:0;width:0px;height:0px;"></textarea>
               </div>
               <div class="col-sm-2 border2 ml-5">
                  <div class="row">
                     <div class="col" id="sqrtA">√</div>
                     <div class="col"  id="mldA">*</div>
                     <div class="col" id="plusA">+</div>
                     <div class="w-100"></div>
                     <div class="col" id="minusA">-</div>
                     <div class="col" id="przecinekA">,</div>
                     <div class="col" id="piA">π</div>
                     <div class="w-100"></div>
                     <div class="col" id="dzielenieA">¼</div>
                     <div class="col" id="potegaA">^</div>
                     <div class="col" id="cbrtA">∛</div>
                  </div>
               </div>
            </div>
<h6>Odpowiedź B</h6>
   <div class="row">
               <div class="col-sm-7 offset-sm-1 border2" id="QueDivB" >
              
                  <span id="mathQuillB" class="border-0"></span><textarea  id="latexB" rows="3" name="inputAnswerB" required style="opacity:0;width:0px;height:0px;"></textarea>
               </div>
               <div class="col-sm-2 border2 ml-5">
                  <div class="row">
                     <div class="col" id="sqrtB">√</div>
                     <div class="col"  id="mldB">*</div>
                     <div class="col" id="plusB">+</div>
                     <div class="w-100"></div>
                     <div class="col" id="minusB">-</div>
                     <div class="col" id="przecinekB">,</div>
                     <div class="col" id="piB">π</div>
                     <div class="w-100"></div>
                     <div class="col" id="dzielenieB">¼</div>
                     <div class="col" id="potegaB">^</div>
                     <div class="col" id="cbrtB">∛</div>
                  </div>
               </div>
            </div>
<h6>Odpowiedź C</h6>
 <div class="row">
               <div class="col-sm-7 offset-sm-1 border2" id="QueDivC" >
              
                  <span id="mathQuillC" class="border-0"></span><textarea  id="latexC" rows="3" name="inputAnswerC" required style="opacity:0;width:0px;height:0px;"></textarea>
               </div>
               <div class="col-sm-2 border2 ml-5">
                  <div class="row">
                     <div class="col" id="sqrtC">√</div>
                     <div class="col"  id="mldC">*</div>
                     <div class="col" id="plusC">+</div>
                     <div class="w-100"></div>
                     <div class="col" id="minusC">-</div>
                     <div class="col" id="przecinekC">,</div>
                     <div class="col" id="piC">π</div>
                     <div class="w-100"></div>
                     <div class="col" id="dzielenieC">¼</div>
                     <div class="col" id="potegaC">^</div>
                     <div class="col" id="cbrtC">∛</div>
                  </div>
               </div>
            </div>
<h6>Odpowiedź D</h6>
  <div class="row">
               <div class="col-sm-7 offset-sm-1 border2" id="QueDivD" >
              
                  <span id="mathQuillD" class="border-0"></span><textarea  id="latexD" rows="3" name="inputAnswerD" required style="opacity:0;width:0px;height:0px;"></textarea>
               </div>
               <div class="col-sm-2 border2 ml-5">
                  <div class="row">
                     <div class="col" id="sqrtD">√</div>
                     <div class="col"  id="mldD">*</div>
                     <div class="col" id="plusD">+</div>
                     <div class="w-100"></div>
                     <div class="col" id="minusD">-</div>
                     <div class="col" id="przecinekD">,</div>
                     <div class="col" id="piD">π</div>
                     <div class="w-100"></div>
                     <div class="col" id="dzielenieD">¼</div>
                     <div class="col" id="potegaD">^</div>
                     <div class="col" id="cbrtD">∛</div>
                  </div>
               </div>
            </div>
{% endblock closedQuestionOption %}
