{% extends 'forum/addQuestionOpen.html' %}
{% load static %}
{% block typeQuestion %} {% endblock typeQuestion %}
{% block urlName %} {% url 'addQuestionCloseToDatabase' %}{% endblock urlName %}
{% block solution %} {% endblock solution %}
{% block closedQuestionOption %}
<div class="col-12 py-2">
  <h6>Odpowiedź A</h6>
</div>
<div class="col-12 keyboardInputDiv" id="QueDivA">
  <span id="mathQuillA" class="keyboardInput mb-3 keyboard"></span>
  <textarea name="inputAnswerA" id="latexA" class="hiddenAnswer"></textarea>
</div>
<div class="col-12 py-2">
  <h6>Odpowiedź B</h6>
</div>
<div class="col-12 keyboardInputDiv" id="QueDivB">
  <span id="mathQuillB" class="keyboardInput mb-3 keyboard"></span>
  <textarea name="inputAnswerB" id="latexB" class="hiddenAnswer"></textarea>
</div>
<div class="col-12 py-2">
  <h6>Odpowiedź C</h6>
</div>
<div class="col-12 keyboardInputDiv" id="QueDivC">
  <span id="mathQuillC" class="keyboardInput mb-3 keyboard"></span>
  <textarea name="inputAnswerC" id="latexC" class="hiddenAnswer"></textarea>
</div>
<div class="col-12 py-2">
  <h6>Odpowiedź D</h6>
</div>
<div class="col-12 keyboardInputDiv" id="QueDivD">
  <span id="mathQuillD" class="keyboardInput mb-3 keyboard"></span>
  <textarea name="inputAnswerD" id="latexD" class="hiddenAnswer"></textarea>
</div>

{% endblock closedQuestionOption %}