{% extends 'forum/base.html' %}
{% load static %}
{% block content %}{% for user in users %}
{% block css %}
<link rel="stylesheet" href="{% static 'forum/styles/addQuestionOpen/OpenQuestionsInput.css' %}">
<link rel="stylesheet" href="{% static 'forum/styles/keyboard.css' %}" />
<link rel="stylesheet" href="{% static 'forum/katex/katex.min.css' %}" />
<link rel="stylesheet" href="{% static 'forum/MathQuil/mathquill.css' %}" />
{% endblock css %}
{% block js %}
<script src="{% static 'forum/MathQuil/mathquill.js' %}"></script>
<script type="text/javascript" src = "{% static 'forum/katex/katex.min.js' %}"></script>
<script type="text/javascript" src = "{% static 'forum/katex/contrib/auto-render.js' %}"></script>
{% endblock js %}
<script>
   let MQ = MathQuill.getInterface(2);
</script>
{% block typeQuestion %} {% endblock typeQuestion %}
<form method="post" enctype="multipart/form-data" class="mt-5 pt-2"
   action="{% block urlName %} {% url 'addQuestionOpenToDatabase' %}{% endblock urlName %}">
   {% csrf_token %}
   <div class="container-fluid mt-5">
      <div class="row">
         <div class="col-md-4 col-lg-3 mb-md-0 offset-lg-1">
            <div class="row bgContent pb-2">
               <div class="col-12 top">
                  <h5>Dane</h5>
               </div>
               <div class="col-12 py-2">
                  <h6>Numer zadania</h6>
                  <input class="form-control inputs" type="number" placeholder="Numer zadania" name="numberTask" min=0 required>
               </div>
               <div class="col-12 py-2">
                  <h6>Dział</h6>
                  <select class="form-control inputs" name="section" required>
                     {% for type in types %}
                     <option>{{type}}</option>
                     {% endfor %}
                  </select>
               </div>
               <div class="col-12 py-2">
                  <h6>Zestaw</h6>
                  <select class="form-control inputs" name="set" required>
                   {% for set in sets %}
                     <option>{{set}}</option>
                  {% endfor %}
                  </select>
               </div>
               <div class="col-12 py-2">
                  <h6>Punkty</h6>
                  <input class="form-control inputs" type="number" placeholder="Punkty" name="NumberPoints" min=0 required>
               </div>
            </div>
         </div>
         <div class="col-md-7 bgContent px-0 mb-3">
            <div clas="row">
               <div class="col-12 top">
                  <h5>Pytanie</h5>
               </div>
               <div class="col-12 py-2">
                  <h6>Treść pytania</h6>
               </div>
               <div class="col-12 keyboardInputDiv" id="QueDivQuestion">
                  <span id="mathQuillQuestion" class="keyboardInput mb-3 keyboard"></span>
                  <textarea name="inputQuestion" id="latexQuestion" class="hiddenAnswer"></textarea>
               </div>
               <div class="col-12 py-2">
                  <h6>Rozwiązanie</h6>
               </div>
               <div class="col-12 keyboardInputDiv" id="QueDivAnswer">
                  <span id="mathQuillAnswer" class="keyboardInput mb-3 keyboard"></span>
                  <textarea name="inputAnswer" id="latexAnswer" class="hiddenAnswer"></textarea>
               </div>
               {% block closedQuestionOption %}
               <div class="col-12 py-2">
                  <h6>Odpowiedź</h6>
               </div>
               <div class="col-12 keyboardInputDiv" id="QueDivA">
                  <span id="mathQuillA" class="keyboardInput mb-3 keyboard"></span>
                  <textarea name="solution" id="latexA" class="hiddenAnswer"></textarea>
               </div>
               {% endblock closedQuestionOption %}
               <div class="col-12 py-2">
                  <h6>Dodaj zdjęcie</h6>
               </div>
               <div class="col-12 py-2">
                  <input type="file" class="form-control-file btn pl-3" name="image" accept="image/png, image/jpeg, image/svg">
               </div>
            </div>
            <input type="submit" value="Dodaj zadanie" id="addQuestion" class="btn navButtons" />
            <input type="hidden" name="user_id" value="{{ user.id }}">
         </div>
      </div>
   </div>
</form>
<script src="{% static 'forum/js/addQuestion/addQuestion.js' %}"></script>
{% endfor %} {% endblock content %}
{% block jquery %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="{% static 'forum/Keyboard/css/keyboard.css' %}" rel="stylesheet">
<script src="{% static 'forum/Keyboard/js/jquery.keyboard.js' %}"></script>
<script src="{% static 'forum/Keyboard/js/jquery.keyboard.extension-typing.js' %}"></script>
<script src="{% static 'forum/js/keyboard.js' %}"></script>
{% endblock jquery %}