{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{% static 'forum/Bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'forum/styles/PreloaderHome/Preloader.css' %}">
  {% block css %}

  {% endblock css %}
  {% block js %}

  {% endblock js %}
  <script src="{% static 'forum/JQuery/jquery-3.6.0.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('body').addClass('loaded');
    });
  </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'forum/styles/style.css' %}" />
  <title>Cyrkielek - naucz się do swojej matury</title>
</head>
<body>
  <nav class="navbar position-absolute navbar-expand-lg p-lg-0 pt-3 pb-3 pl-3 pr-3" id="nav">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="#">Page 1</a>
              <a class="dropdown-item" href="#">Page 2</a>
              <a class="dropdown-item" href="#">Page 3</a>
              <a class="dropdown-item" href="#">Page 4</a>
            </div>
          </li>
        {% if request.session.logged_user == 0 or request.session.logged_user == '0' or not request.session.logged_user%}
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'register1' %}">Rejestracja</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Logowanie</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'usersHOME' request.session.logged_user %}">Panel użytkownika</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'log_out' %}">Wyloguj</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
	</div>
  {% block content %}

  {% endblock %}
  <footer class="container-fluid pt-5 text-light ">
    <div class="mx-5 ">
      <div class="row justify-content-center">
        <div class="col-md-2 col-sm-11 col-xs-11"></div>
        <div class="col-md-2 col-sm-11 col-xs-11 ">
          <h1>Cyrkielek</h1>
          <div><i class="gdlr-icon fa fa-phone" style="font-size: 16px; "></i><span>+48 222-222-222</span></div>
          <div><i class="far fa-envelope" style="font-size: 16px;"></i><span>info@cyrkielek.pl</span></div>
          <div class="mt-2 mb-3">
            <i class="fab fa-facebook-f fa-2x p-1"></i>
            <i class="fab fa-instagram fa-2x p-1"></i>
            <i class="fab fa-twitter fa-2x p-1"></i>
            <i class="fab fa-linkedin-in fa-2x p-1"></i>
          </div>
          <p class="copyright"><i class="fas fa-copyright"></i> 2021</p>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 mb-2"></div>
        <div class="col-md-3 col-sm-4 col-xs-4">
          <h5>Matura</h5>
          <ul>
            <li>Zestawy</li>
            <li>Teoria</li>
            <li>Punktacja</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-4">
          <h5>Zespół</h5>
          <ul>
            <li>O nas</li>
            <li>Kontakt</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="{% static 'forum/Bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'forum/js/base.js' %}"></script>
  {% block jquery %}

  {% endblock jquery %}
</body>
</html>