{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" href="{% static 'forum/MathQuil/mathquill.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'forum/MathQuil/mathquill.js' %}"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <title>FORUM</title>
    
  </head>
  <body>
    <div class="b">{% block content %} {% endblock %}</div>
  </body>
</html>
