{% extends 'forum/base.html' %}
{% block content %}
{% load static %}
{% block css %} 
  <link rel="stylesheet" href="{% static 'forum/styles/index/index.css' %}"> 
{% endblock css %}
  <header class="container-fluid">
  </header>
  <section>
    
  </section>
  <div class="container-fluid info">
    <div class="row">
      <div class="col-xl-3"></div>
      <div class="col-xl-6 infoCenter">
        <div class="row rowInfo">
          <div class="col-6 col-xl-6 col-lg-6 px-md-3">
            <div class="p-3 infoItem text-center">
              <span class="font-weight-bold">Ćwicz rozwiązywanie arkuszy maturalnych</span>
              <img class="mx-auto d-block img-fluid imgInfo" src="{% static 'forum/images/index/brain.png' %}"/>
            </div>
          </div>
          <div class="col-6 col-xl-6 col-lg-6 px-md-3">
            <div class="p-3 infoItem text-center">
              <span class="font-weight-bold">Forum</span>
              <img class="mx-auto d-block img-fluid imgInfo" src=""/>
            </div>
          </div>
          <div class="col-6 col-xl-6 col-lg-6 px-md-3">
            <div class="p-3 infoItem text-center">C</div></div>
          <div class="col-6 col-xl-6 col-lg-6 px-md-3"><div class="p-3 infoItem text-center">C</div>
        </div>
          <div class="col-6 col-xl-6 col-lg-6 px-md-3">
            <div class="p-3 infoItem text-center">C</div>
        </div>
          <div class="col-6 col-xl-6 col-lg-6 px-md-3">
            <div class="p-3 infoItem text-center">C</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3"></div>
    </div>
  </div>
  <section id="test" class="container-fluid"> 
    <div class="btn">Wypróbuj</div>
  </section>
{% endblock content %}