{% extends 'forum/base.html' %} {% block content %}
<h1>Main Page</h1>

<h2>Users</h2>
    <i class="fas fa-users fa-3x"></i><br /><br />
    {% for user in users %}
    <a href="{% url 'usersHOME' user.id %}">{{ user.name }}</a>
    {% endfor %}
    <br /><br /><br />
    <h2>New User</h2>
    <a href="{% url 'register1' %}"
      ><button><i class="fas fa-user-plus fa-3x"></i></button
    ></a>
    <a href="{% url 'log_out' %}">
        <button><i class="fas fa-sign-out-alt fa-3x"></i></button>
    </a>

    {% endblock content %}
  </>
</h2>
