{% extends 'forum/base.html' %}{% load static %} {% block content %} {% for user in users %}
{% block imports %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'forum/styles/mathPage2/mathPage2.css' %}"> {% endblock css %} 

 <link rel="stylesheet" href="{% static 'forum/MathQuil/mathquill.css' %}"/>
<script src="{% static 'forum/MathQuil/mathquill.js' %}"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\(','\)']]},
    svg: {
    fontCache: 'global'
  }
  });
</script>

<script type="text/javascript"
  src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endblock %}
  <script>
        let MQ = MathQuill.getInterface(2); 
    </script>
<div class="container-fluid"> 
<form method="post" action="{% url 'math_page3' user.id %}">
  {% csrf_token %} 
  {% for zz in zzs %}
  <div id="zadZ">
  <h1>Zadanie zamkniete nr. {{forloop.counter0}}</h1>
  <p>{{zz.tresc}} </p>
  <div id="odpZMain">
    <div class="odpZ "><b>A:</b>$${{zz.odp_a}}$$</div>
    <div class="odpZ"><b>B:</b>$${{zz.odp_b}}$$</div>
    <div class="odpZ"><b>C:</b>$${{zz.odp_c}}$$</div>
    <div class="odpZ"><b>D:</b>$${{zz.odp_d}}$$</div>
  </div>
  <div id="odbZselect">
    <label for="odpZ">Wybierz poprawną odpowiedź:</label>
    <select name="odpZ">
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
    </select>
  </div>
</div>
  {% endfor %} {% for zo in zos %}
  <div id="odpO">
  <h1>Zadanie otwarte nr. {{forloop.counter0}}</h1>
  <p>{{zo.tresc}}</p>
  <br />
  {% if zo.url != "" %}
<img src="{% static zo.url %}"/>
{% endif %}
  <p>Wprowadź odpowiedź:</p>
  <span id="answer{{forloop.counter0}}" style="width:30%; background-color:white; margin-left:20px;"></span><textarea name="odpO" id="latexanswer{{forloop.counter0}}" style="opacity: 0;" required></textarea></p>
    <div id="tools">
        <div id="sqrtanswer{{forloop.counter0}}" style=" float:left; padding:20px;">√</div>
        <div id="mldanswer{{forloop.counter0}}" style=" float:left;padding:20px;">*</div>
        <div id="plusanswer{{forloop.counter0}}" style=" float:left;padding:20px;">+</div>
        <div id="minusanswer{{forloop.counter0}}" style=" float:left;padding:20px;">-</div>
        <div id="przecinekanswer{{forloop.counter0}}" style=" float:left;padding:20px;">,</div>
        <div id="pianswer{{forloop.counter0}}" style=" float:left;padding:20px;">π</div>
        <div id="dzielenieanswer{{forloop.counter0}}" style=" float:left;padding:20px;">¼</div>
        <div id="potegaanswer{{forloop.counter0}}" style=" float:left;padding:20px;">^</div>
        <div id="cbrtanswer{{forloop.counter0}}" style=" float:left;padding:20px;">∛</div>
    </div>
    <script>
    createMathquill({{forloop.counter0}});
function createMathquill(id)
{

let answerMathField2 = MQ.MathField(document.getElementById('answer'+id), {
    handlers: {
         edit: function() {
                answerMathField2.latex();
                document.getElementById('latexanswer'+id).textContent = answerMathField2.latex();
            }
        }
    });


 $( "#sqrtanswer"+id).click(function() {
    answerMathField2.write('\\sqrt{}');
    answerMathField2.reflow();
});

$( "#mldanswer"+id).click(function() {
    answerMathField2.write('\\cdot');
    answerMathField2.reflow();
});
$( "#plusanswer"+id).click(function() {
    answerMathField2.write('+');
    answerMathField2.reflow();
});
$( "#minusanswer"+id).click(function() {
    answerMathField2.write('-');
    answerMathField2.reflow();
});
$( "#przecinekanswer"+id).click(function() {
    answerMathField2.write(',');
    answerMathField2.reflow();
});
$( "#pianswer"+id).click(function() {
    answerMathField2.write('\\pi');
    answerMathField2.reflow();
});
$( "#dzielenieanswer"+id ).click(function() {
    answerMathField2.write('\\frac{ }{ }');
    answerMathField2.reflow();
});
$( "#potegaanswer"+id ).click(function() {
    answerMathField2.write('\\^{}');
    answerMathField2.reflow();
});
$( "#cbrtanswer"+id).click(function() {
    answerMathField2.write('\\sqrt[]{}');
    answerMathField2.reflow();
});

    }
  </script>
  </div>

  {% endfor %}
  <div id="sendAnswers">
  <input type="submit" value="Sprawdź zestaw" />
  <button value="Wróć"><a href="{% url 'math_page' user.id %}">Wróć</a></button>
  </div>
  {% endfor %}
</form>
</div>
{% endblock content %}
