{% extends 'forum/base.html' %}{% load static %} {% block content %} {% for user in users %}

{% load static %}
{% block css %}
 <link rel="stylesheet" href="{% static 'forum/styles/mathPage2/mathPage2.css' %}">
<link rel="stylesheet" href="{% static 'forum/MathQuil/mathquill.css' %}"/>

{% endblock css %} 
    {% block js %}
    <script src="{% static 'forum/MathQuil/mathquill.js' %}"></script>
    <script id="MathJax-script" async src="{% static 'forum/mathjax-master/es5/tex-chtml.js'%}"></script>
  <script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>
    {% endblock js %}

  <script>
        let MQ = MathQuill.getInterface(2); 
    </script>
<div class="container-fluid"> 
<form method="post" action="{% url 'math_page3' user.id %}">
  {% csrf_token %} 
  {% for zz in zzs %}
  <div id="zadZ">
  <h1>Zadanie zamkniete nr. {{forloop.counter0}}</h1>
  <p>{{zz.tresc}} </p>
  <div id="odpZMain">
    <div class="odpZ "><b>A:</b>$${{zz.odp_a}}$$</div>
    <div class="odpZ"><b>B:</b>$${{zz.odp_b}}$$</div>
    <div class="odpZ"><b>C:</b>$${{zz.odp_c}}$$</div>
    <div class="odpZ"><b>D:</b>$${{zz.odp_d}}$$</div>
  </div>
  <div id="odbZselect">
    <label for="odpZ">Wybierz poprawną odpowiedź:</label>
    <select name="odpZ">
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
    </select>
  </div>
</div>
  {% endfor %} {% for zo in zos %}
  <div id="odpO">
  <h1>Zadanie otwarte nr. {{forloop.counter0}}</h1>
  <p>{{zo.tresc}}</p>
  <br />
  {% if zo.url != "" %}
<img src="{% static zo.url %}"/>
{% endif %}
  <p>Wprowadź odpowiedź:</p>
  <span id="answer{{forloop.counter0}}" style="width:30%; background-color:white; margin-left:20px;"></span><textarea name="odpO" id="latexanswer{{forloop.counter0}}" style="opacity: 0;" required></textarea></p>
    <div id="tools">
        <div id="sqrtanswer{{forloop.counter0}}" style=" float:left; padding:20px;">√</div>
        <div id="pianswer{{forloop.counter0}}" style=" float:left;padding:20px;">π</div>
        <div id="dzielenieanswer{{forloop.counter0}}" style=" float:left;padding:20px;">¼</div>
        <div id="potegaanswer{{forloop.counter0}}" style=" float:left;padding:20px;">^</div>
        <div id="cbrtanswer{{forloop.counter0}}" style=" float:left;padding:20px;">∛</div>
        <div id="przerwaanswer{{forloop.counter0}}" style=" float:left;padding:20px;">↵</div>
        <div id="calkaanswer{{forloop.counter0}}" style=" float:left;padding:20px;">∫</div>
        <div id="sumaanswer{{forloop.counter0}}" style=" float:left;padding:20px;">Σ</div>
        <div id="loganswer{{forloop.counter0}}" style=" float:left;padding:20px;">$\log_{n}k$</div>
        <div id="newtonanswer{{forloop.counter0}}" style=" float:left;padding:20px;">$\binom{N}{k}$</div>
        <div id="Alfaanswer{{forloop.counter0}}" style=" float:left;padding:20px;">α</div>
        <div id="Betaanswer{{forloop.counter0}}" style=" float:left;padding:20px;">β</div>
        <div id="leanswer{{forloop.counter0}}" style=" float:left;padding:20px;">⩽</div>
               <div id="geanswer{{forloop.counter0}}" style=" float:left;padding:20px;">⩾</div>
        <div id="nalezyanswer{{forloop.counter0}}" style=" float:left;padding:20px;">∈</div>
        <div id="indexanswer{{forloop.counter0}}" style=" float:left;padding:20px;">$x^k_n$</div>
      <div id="infanswer{{forloop.counter0}}" style=" float:left;padding:20px;">∞</div>
    </div>
    <script>
    createMathquill({{forloop.counter0}});
function createMathquill(id)
{

let answerMathField2 = MQ.MathField(document.getElementById('answer'+id), {
    handlers: {
         edit: function() {
                answerMathField2.latex();
                document.getElementById('latexanswer'+id).textContent = answerMathField2.latex();
            }
        }
    });


 $( "#sqrtanswer"+id).click(function() {
    answerMathField2.write('\\sqrt{}');
    answerMathField2.reflow();
});

$( "#pianswer"+id).click(function() {
    answerMathField2.write('\\pi');
    answerMathField2.reflow();
});
$( "#dzielenieanswer"+id ).click(function() {
    answerMathField2.write('\\frac{ }{ }');
    answerMathField2.reflow();
});
$( "#potegaanswer"+id ).click(function() {
    answerMathField2.write('\\^{}');
    answerMathField2.reflow();
});
$( "#cbrtanswer"+id).click(function() {
    answerMathField2.write('\\sqrt[]{}');
    answerMathField2.reflow();
});
$( "#przerwaanswer"+id).click(function() {
    answerMathField2.write('\\textcolor{black}{\\text{}}');
    answerMathField2.reflow();
});
$( "#calkaanswer"+id).click(function() {
    answerMathField2.write('\\ \\int');
    answerMathField2.reflow();
});
$("#sumaanswer"+id).click(function() {
    answerMathField2.write('\\sum');
    answerMathField2.reflow();
});
$("#loganswer"+id).click(function() {
    answerMathField2.write('\\log_{}{}');
    answerMathField2.reflow();
});
$("#newtonanswer"+id).click(function() {
    answerMathField2.write('\\binom{ }{ }');
    answerMathField2.reflow();
});
$("#Alfaanswer"+id).click(function() {
    answerMathField2.write('\\alpha');
    answerMathField2.reflow();
});
$("#Betaanswer"+id).click(function() {
    answerMathField2.write('\\beta');
    answerMathField2.reflow();
});

$("#leanswer"+id).click(function() {
    answerMathField2.write('\\le');
    answerMathField2.reflow();
});

$("#geanswer"+id).click(function() {
    answerMathField2.write('\\ge');
    answerMathField2.reflow();
});

$("#nalezyanswer"+id).click(function() {
    answerMathField2.write('\\isin');
    answerMathField2.reflow();
});
$("#indexanswer"+id).click(function() {
    answerMathField2.write('{}_{}^{}');
    answerMathField2.reflow();
});
$("#infanswer"+id).click(function() {
    answerMathField2.write('\\infin');
    answerMathField2.reflow();
});
    }
  </script>
  </div>

  {% endfor %}
  <div id="sendAnswers">
  <input type="submit" value="Sprawdź zestaw" />
  <button value="Wróć"><a href="{% url 'math_page' user.id %}">Wróć</a></button>
  </div>
  {% endfor %}
</form>
</div>
{% endblock content %}
