{% extends 'forum/base.html' %} {% block content %} {% for user in users %}
<h1>Math page</h1>
<br />
 {% for zz in zzs %}
  <p><b>Tresc:</b>{{zz.tresc}}</p>
  <br />
  <p><b>odpA:</b>{{zz.odp_a}}</p>
  <br />
  <p><b>odpB:</b>{{zz.odp_b}}</p>
  <br />
  <p><b>odpC:</b>{{zz.odp_c}}</p>
  <br />
  <p><b>odpD:</b>{{zz.odp_d}}</p>
  <br />
  <p><b>Twoja odpowiedz: </b>{{odpZ}}</p><br>
  <p><b>Poprawna odpowiedz: </b>{{zz.odpowiedz}}</p><br>
  <br />
  <hr />
  {% endfor %} {% for zo in zos %}
  <p><b>Tresc:</b>{{zo.tresc}}</p><br>
  <p><b>Twoja odpowiedz: </b>{{odpO}}</p><br>
  <p><b>Poprawna odpowiedź:</b>{{zo.odpowiedz}}</p>
  <br />
  <hr />
  {% endfor %}
  <p><b>Zdobyłeś {{punkty}} punktów na {{punktyMAX}} możliwych do zdobycia</p></b><br>
  <hr>
  <a href="{% url 'math_page' user.id %}">Wróć</a><br /><br />
  {% endfor %}
</form>
{% endblock content %}
