{% extends 'forum/base.html' %} {% block content %}
    <div class="container-lg">

      <div class="container-fluid mb-5 main_forum">
  <br><br>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-4">
            <li class="breadcrumb-item"><a href="{% url 'user_at_forum' 1 %}">Forum</a></li>
            <li class="breadcrumb-item"><a href="{% url 'user_at_forum' 1 %}">Kategorie</a></li>
            <li class="breadcrumb-item"><a href="{% url 'user_questions' 1 %}">Pytania użytkowników</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tworzenie nowego tematu</li>
          </ol>
        </nav>

        <div class="row">
          <div class="col-12 mt-3">
            <h2 class="h4 text-white bg-dark mb-3 p-4 rounded">Tworzenie nowego tematu</h2>

            
          </div>
        </div>

        <form class="mb-3" action="{% url 'new_thread' user_id %}" method="POST">
            {% csrf_token %}
          <div class="form-group">
            <label class="pt-4" for="topic">Temat:</label>
            <input id="topic" class="form-control" type="text" name="topic" placeholder="Napisz tutaj nazwe Tematu">
          </div>
          <div class="form-group">
            <label class="pt-4" for="comment">Treść:</label>
            <textarea class="form-control" id="comment" rows="10" name="comment" placeholder="Napisz tutaj treść nowego Tematu" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
        
    </div>


    </div>

   {% endblock content %}