{% extends 'forum/base.html' %}
{% load static %}
{% block content %}{% for user in users %}
{% block css %}
  <link rel="stylesheet" href="{% static 'forum/styles/oneTaskSettings/oneTaskSettings.css' %}">
{% endblock css %}
{% block js %}
{% endblock js %}
<div id="main" class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form method="post" action="{% url 'oneTaskGenerated' user.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label htmlFor="questionType">Wybierz rodzaj pytania:</label>
          <select name="questionType" id="questionType" class="custom-select">
            <option value="otwarte" selected>OTWARTE</option>
            <option value="zamkniete">ZAMKNIĘTE</option>
          </select>
        </div>
        <div class="form-group">
          <label htmlFor="questionSection">Wybierz dział matematyki:</label>
          <select name="questionSection" id="questionSection" class="custom-select">
          {% for type in types %}
          <option value={{type}} selected>{{type}}</option>
          {% endfor %} 
          </select>
        </div>
        <input type="submit" class="btn navButtons" value="Wygeneruj zadanie!" />
      </form>
    </div>
  </div>
</div>
  
{% endfor %} 
{% endblock content %}