{% extends 'forum/base.html' %} {% block content %} {% for user in users %}
<a href="{% url 'user_at_forum' user.id %}"
  ><button><i class="fas fa-home fa-3x"></i></button></a
><br /><br />

{% for p in postsM %}
<h1>Zadanie</h1>
<p><b>Treść:</b>{{p.tresc}}</p>
<div class="form">
  <form method="post" action="{% url 'check' user.id p.id %}">
    {% csrf_token %}
    <button name="check" type="submit">Check</button>
  </form>
</div>
<hr />
<h1>Answers:</h1>

{% for a in answersM %}
<p>{{a.date}} </p>
<p><b>{{a.userA}} </b>answered:</p>
<p>{{a.answer}}</p>
{% if role == 'admin' or role == 'moderator' or a.userA.id == auth_user_id %}
<a href="{% url 'delete_odpM' user.id p.id a.id%}">
  <button><i class="fas fa-trash fa-3x"></i></button>
</a>
{% endif %}
<hr />
{% endfor %}
<div class="form">
  <form method="post" action="{% url 'odpM' user.id p.id %}">
    {% csrf_token %}
    <label for="temat">Content:</label>
    <input type="comment" name="comment" id="comment" />
    <input type="submit" value="add comment" />
  </form>
</div>
<p>{{error}}</p>
{% endfor %} {% endfor %} {% endblock content %}
