{% extends 'forum/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'forum/MathQuil/mathquill.css' %}" />
{% endblock css %} {% block js %}
<script src="{% static 'forum/MathQuil/mathquill.js' %}"></script>
<script
  id="MathJax-script"
  async
  src="{% static 'forum/mathjax-master/es5/tex-chtml.js'%}"
></script>
<script>
  MathJax = {
    tex: {
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
    },
    svg: {
      fontCache: "global",
    },
  };
</script>
{% endblock js %} {% block content %} {% for user in users %}
<a href="{% url 'user_at_forum' user.id %}"
  ><button><i class="fas fa-home fa-3x"></i></button></a
><br /><br />

{% for p in posts %}
<p><b>Author:</b>{{p.userP}}</p>
<p><b>Subject:</b>{{p.subject}}</p>
<p>{{p.text}}</p>
<a href="{% url 'delete' user.id p.id %}"
  ><button><i class="fas fa-trash fa-3x"></i></button
></a>
<hr />
<h1>Answers:</h1>

{% for a in answers %}

<p><b>{{a.userA}} </b>answered:</p>
<p>{{a.answer}}</p>
<a href="{% url 'delete_odp' user.id p.id a.id%}"
  ><button><i class="fas fa-trash fa-3x"></i></button
></a>
<hr />
{% endfor %}
<div class="form">
  <form method="post" action="{% url 'odp' user.id p.id %}">
    {% csrf_token %}
    <label for="temat">Content:</label>
    <div class="form-group">
            <label for="tresc">Dodaj treść postu</label>
            <span id="answer0" style="width:30%; background-color:white; margin-left:20px;"></span><textarea name="comment" id="latexanswer0" style="opacity: 0;" required></textarea></p>
            <div id="tools0">
            <div id="sqrtanswer0" style=" float:left; padding:20px;">√</div>
            <div id="pianswer0" style=" float:left;padding:20px;">π</div>
            <div id="dzielenieanswer0" style=" float:left;padding:20px;">¼</div>
            <div id="potegaanswer0" style=" float:left;padding:20px;">^</div>
            <div id="cbrtanswer0" style=" float:left;padding:20px;">∛</div>
            <div id="przerwaanswer0" style=" float:left;padding:20px;">↵</div>
            <div id="calkaanswer0" style=" float:left;padding:20px;">∫</div>
            <div id="sumaanswer0" style=" float:left;padding:20px;">Σ</div>
            <div id="loganswer0" style=" float:left;padding:20px;">$\log_{n}k$</div>
            <div id="newtonanswer0" style=" float:left;padding:20px;">$\binom{N}{k}$</div>
            <div id="Alfaanswer0" style=" float:left;padding:20px;">α</div>
            <div id="Betaanswer0" style=" float:left;padding:20px;">β</div>
            <div id="leanswer0" style=" float:left;padding:20px;">⩽</div>
            <div id="geanswer0" style=" float:left;padding:20px;">⩾</div>
            <div id="nalezyanswer0" style=" float:left;padding:20px;">∈</div>
            <div id="indexanswer0" style=" float:left;padding:20px;">$x^k_n$</div>
          <div id="infanswer0" style=" float:left;padding:20px;">∞</div>
        </div> 
    <input type="submit" value="add comment" />
  </form>
</div>
<p>{{error}}</p>
{% endfor %} {% endfor %}
<script>
        let MQ = MathQuill.getInterface(2); 
        createMathquill("0"); 
        function createMathquill(id)
{

let answerMathField2 = MQ.MathField(document.getElementById('answer'+id), {
    handlers: {
         edit: function() {
                answerMathField2.latex();
                document.getElementById('latexanswer'+id).textContent = answerMathField2.latex();
            }
        }
    });


 $( "#sqrtanswer"+id).click(function() {
    answerMathField2.write('\\sqrt{}');
    answerMathField2.reflow();
});

$( "#pianswer"+id).click(function() {
    answerMathField2.write('\\pi');
    answerMathField2.reflow();
});
$( "#dzielenieanswer"+id ).click(function() {
    answerMathField2.write('\\frac{ }{ }');
    answerMathField2.reflow();
});
$( "#potegaanswer"+id ).click(function() {
    answerMathField2.write('\\^{}');
    answerMathField2.reflow();
});
$( "#cbrtanswer"+id).click(function() {
    answerMathField2.write('\\sqrt[]{}');
    answerMathField2.reflow();
});
$( "#przerwaanswer"+id).click(function() {
    answerMathField2.write('\\textcolor{black}{\\text{}}');
    answerMathField2.reflow();
});
$( "#calkaanswer"+id).click(function() {
    answerMathField2.write('\\ \\int');
    answerMathField2.reflow();
});
$("#sumaanswer"+id).click(function() {
    answerMathField2.write('\\sum');
    answerMathField2.reflow();
});
$("#loganswer"+id).click(function() {
    answerMathField2.write('\\log_{}{}');
    answerMathField2.reflow();
});
$("#newtonanswer"+id).click(function() {
    answerMathField2.write('\\binom{ }{ }');
    answerMathField2.reflow();
});
$("#Alfaanswer"+id).click(function() {
    answerMathField2.write('\\alpha');
    answerMathField2.reflow();
});
$("#Betaanswer"+id).click(function() {
    answerMathField2.write('\\beta');
    answerMathField2.reflow();
});

$("#leanswer"+id).click(function() {
    answerMathField2.write('\\le');
    answerMathField2.reflow();
});

$("#geanswer"+id).click(function() {
    answerMathField2.write('\\ge');
    answerMathField2.reflow();
});

$("#nalezyanswer"+id).click(function() {
    answerMathField2.write('\\isin');
    answerMathField2.reflow();
});
$("#indexanswer"+id).click(function() {
    answerMathField2.write('{}_{}^{}');
    answerMathField2.reflow();
});
$("#infanswer"+id).click(function() {
    answerMathField2.write('\\infin');
    answerMathField2.reflow();
});
    }
    </script>  
{% endblock content %}
