{% extends 'forum/base.html' %} {% block content %}
<div class="home">
  <h1>Wyniki!</h1>
  <br /><br />
  <a href="{% url 'index' %}">
    <button><i class="fas fa-home fa-3x"></i></button>
  </a>
  <a href="{% url 'log_out' %}">
    <button><i class="fas fa-sign-out-alt fa-3x"></i></button>
  </a>
</div>
{% for score in score %}
<p>Wyniki użytkownika o  ID równym:{{score.id_user_id}}</p><br/>

<p>Numery wylosowanych zadań otwartych: {{score.id_zad_otwartych}}</p>
<p>Treści zadań otwartych: {{score.tresci_zad_otwartych}}</p>
<p>Dane odpowiedzi do zadan otwartych: {{score.odp_otwarte}}</p>
<br>
<p>Numery wylosowanych zadań zamknietych: {{score.id_zad_zamknietych}}</p>
<p>Treści zadań zamknietych: {{score.tresci_zad_zamknietych}}</p>
<p>Dane odpowiedzi do zadań zamknietych: {{score.odp_zamkniete}}</p>

<p>Uzyskane punkty: {{score.punkty}}</p>
<hr>
{% endfor %} {% endblock content %}
