{% extends 'forum/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/styles/login/styleForum.css' %}">
{% endblock css %}


{% block content %} {% for user in users %}

<div class="container-fluid pt-5 pb-2">
  <div class="row no-gutters">
    <div class="col-md-3 d-none d-md-block"></div>

    <div class="col-md-6 col-12 justify-content-center mt-5">
      <h2 class="text-center">{{user.name}} witaj na naszym forum</h2>
    </div>

    <div class="col-md-3 d-none d-md-block"></div>
  </div>
</div>
<hr class="my-4" style="width: 60%"/>
<div class="container-fluid pt-3">
  <div class="row no-gutters">
    <div class="col-md-3 d-none d-md-block"></div>

    <div class="col-md-6 col-12 justify-content-center">

      <h3 class="text-center">Dodaj nowy post</h2>

        <form class="pt-5" method="post" action="{% url 'add' user.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="temat">Dodaj nazwę tematu</label>
            <input type="text" class="form-control" id="temat" aria-required="true" name="temat">
          </div>
          <div class="form-group">
            <label for="tresc">Dodaj treść postu</label>
            <textarea type="text" class="form-control" id="tresc" aria-required="true" name="tresc" rows="6"></textarea>
          </div>
          <div class="mb-5">
            <div class="form-group text-center pt-2">
              <button type="submit" class="btn btn-outline-dark" value="Add post">Dodaj</button>
            </div>
          </div>
        </form>

    </div>

    <div class="col-md-3 d-none d-md-block"></div>
  </div>
</div>

<div class="container-fluid pt-5 pb-2">
  <div class="row no-gutters">
    <div class="col-md-3 d-none d-md-block"></div>

    <div class="col-md-6 col-12 justify-content-center">
      <h2 class="text-center">Posty użytkowników</h2>
    </div>

    <div class="col-md-3 d-none d-md-block"></div>
  </div>
</div>
<hr class="my-4" style="width: 60%;" />
<div class="container-fluid pt-3">
  <div class="row no-gutters">
    <div class="col-md-2 d-none d-md-block"></div>

    <div class="col-md-8 col-12 justify-content-center">

      {% for post in posts %}

      <div class="jumbotron">
        <h1 class="display-4">Temat: {{post.subject}}</h1>
        <hr class="my-4">
        <p>Autor: {{post.userP}}</p>
        <p>Aby zobaczyć treść postu naciśnij guzik</p>
        <a class="btn btn-outline-dark btn-md" href="{% url 'post' user.id post.id %}" role="button">Przejdź</a>
      </div>

      {% endfor %}

    </div>

    <div class="col-md-2 d-none d-md-block"></div>
  </div>
</div>


<div class="container-fluid pt-5 pb-2">
  <div class="row no-gutters">
    <div class="col-md-3 d-none d-md-block"></div>

    <div class="col-md-6 col-12 justify-content-center">
      <h2 class="text-center">Posty do zadań</h2>
      <hr class="my-4" />
    </div>
    <div class="col-md-3 d-none d-md-block"></div>
  </div>
</div>
<div class="container-fluid pt-5 pb-2">
  <div class="row no-gutters">
    <div class="col-md-3 d-none d-md-block"></div>

    <div class="col-md-6 col-12 justify-content-center">
      <h4 class="text-center">Twoje aktywne posty</h4>
    </div>
    <div class="col-md-3 d-none d-md-block"></div>
  </div>
</div>
<hr class="my-4" style="width: 60%;" />
<div class="container-fluid pt-3">
  <div class="row no-gutters">
    <div class="col-md-2 d-none d-md-block"></div>

    <div class="col-md-8 col-12 justify-content-center">

      {% for post in postsToChcekM %}

      <div class="jumbotron">
        <h1 class="display-4">Zadanie: {{ post.zadanie }}</h1>
        <hr class="my-4">
        <p>Aby przejść do tematu zadania naciśnij guzik</p>
        <a class="btn btn-outline-dark btn-md" href="{% url 'postM' user.id post.id %}" role="button">Przejdź</a>
      </div>

      {% endfor %}

    </div>

    <div class="col-md-2 d-none d-md-block"></div>
  </div>
</div>


<div class="container-fluid pt-5 pb-2">
  <div class="row no-gutters">
    <div class="col-md-3 d-none d-md-block"></div>

    <div class="col-md-6 col-12 justify-content-center">
      <h4 class="text-center">Wszystkie posty zadań</h4>
    </div>
    <div class="col-md-3 d-none d-md-block"></div>
  </div>
</div>
<hr class="my-4" style="width: 60%;" />
<div class="container-fluid pt-3">
  <div class="row no-gutters">
    <div class="col-md-2 d-none d-md-block"></div>

    <div class="col-md-8 col-12 justify-content-center">

      {% for post in postsCheched %}

      <div class="jumbotron">
        <h1 class="display-4">Zadanie: {{ post.zadanie }}</h1>
        <hr class="my-4">
        <p>Aby przejść do tematu zadania naciśnij guzik</p>
        <a class="btn btn-outline-dark btn-md" href="{% url 'postM' user.id post.id %}" role="button">Przejdź</a>
      </div>

      {% endfor %}

    </div>

    <div class="col-md-2 d-none d-md-block"></div>
  </div>
</div>

 {% endfor %} {% endblock content %}