{% extends 'forum/base.html' %} {% block content %} 
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'forum/katex/katex.css' %}"></link>
<link rel="stylesheet" href="{% static 'forum/katex/katex.min.css' %}"></link>
{% endblock css %}
{% block js %}
<script type="text/javascript" src = "{% static 'forum/katex/katex.js' %}" ></script>
<script type="text/javascript" src = "{% static 'forum/katex/katex.min.js' %}"></script>
<script type="text/javascript" src = "{% static 'forum/katex/contrib/auto-render.js' %}"></script>

{% endblock js %}

<div class="home">
  <h1>Pytania zamkniete</h1>
  {% for pytZ,odpZZ,oZZ in pytaniaZamkniete %} 
  <div id="pyt_z{{forloop.counter0}}" style="margin-top:10%" class="render">
    <div>PYTANIE : {{ pytZ }}</div><br/>
    <div>ODPOWIEDZI :${{ odpZZ }}$<br/></div>
    <div>ODPOWIEDZ : ${{ oZZ }}$</div>
  </div>

    <script sync>
      renderMathInElement(document.getElementById('pyt_z{{forloop.counter0}}'),
      {
        delimiters: [
      {left: "$$", right: "$$", display: false},
      {left: "$", right: "$", display: false},
      {left: "\\(", right: "\\)", display: false},
      {left: "\\[", right: "\\]", display: false}
    ],
              throwOnError: false
      });
    </script>
  
    

  <hr />
  {% endfor %}

  <h1>Pytania otwarte</h1>
  {% for pytO,oOO in pytaniaOtwarte %} 
  <div id="pyt_otw{{forloop.counter0}}" class="render">
    <div>PYTANIE : {{ pytO }}</div>
    <div>ODPOWIEDZ : ${{ oOO }}$</div>
  </div>
    <script sync>
      renderMathInElement(document.getElementById('pyt_otw{{forloop.counter0}}'),
      {
        delimiters: [
      {left: "$$", right: "$$", display: false},
      {left: "$", right: "$", display: false},
      {left: "\\(", right: "\\)", display: false},
      {left: "\\[", right: "\\]", display: false}
    ],
              throwOnError: false
      });
      
      </script>
  <hr />
  {% endfor %}

  </div>
</div>

{% endblock content %}

