{% extends 'forum/base.html' %} 

{% block content %} 

<div class="home">
  {% for a in user %}
    <h1>
    nazwa : {{a.name}}<br>
    haslo : {{a.password}}<br>
    numer : {{a.numer_kontaktowy}}<br>
    szkola : {{a.szkola}}<br>
    ranga : {{a.ranga}}<br>
    </h1>

<a href="{% url 'usersHOME' a.id %}"><button><i class="fas fa-home fa-3x"></i></button></a> 
  {% endfor %}
  </div> 

{% for pytania, odpowiedzi in zipList %}
    PYTANIE : {{ pytania }} <br>
    ODPOWIEDZ : {{ odpowiedzi }}<br>
{% endfor %}

{% for o in odpZ %}
{{o}}<br>
{% endfor %}

  
{% endblock content %}
