{% extends 'forum/base.html' %} {% block content %}
    <div class="container-lg">

      <div class="container-fluid mb-5 main_forum">

          <br><Br>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-4">
            <li class="breadcrumb-item"><a href="#">Forum</a></li>
            <li class="breadcrumb-item"><a href="{% url 'user_at_forum' 1 %}">Kategorie</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pytania użytkowników</li>
          </ol>
        </nav>

        <div class="row">
          <div class="col-12 mt-3">
            <h2 class="h4 text-white bg-dark mb-0 p-4 rounded-top">Tematy</h2>

            <table class="table table-striped table-bordered table-responsive-lg">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="topic-col">Temat</th>
                  <th scope="col" class="created-col">Stworzono</th>
                  <th scope="col">Statystyka</th>
                  <th scope="col" class="last-post-col">Ostatni post</th>
                </tr>
              </thead>
              <tbody>
              {% for post in all_posts %}
                <tr>
                  <td>
                    <h3 class="h6"><a href="{% url 'view_normal_thread' 1 post.id %}">{{ post.subject }}</a></h3>
                    <div class="small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                  </td>
                  <td>
                    <div>by <a href="#0">{{ post.userP.name }}</a></div>
                    <div>{{ post.date }}</div>
                  </td>
                  <td>
                    <div>10 odpowiedzi</div>
                    <div>190 wyświetleń</div>
                  </td>
                  <td>
                    <h4 class="h6 mb-0 font-weight-bold"><a href="#0">{{ post.subject }}</a></h4>
                    <div>by <a href="#0">{{ post.userP.name }}</a></div>
                    <div>{{ post.date }}</div>
                  </td>
                </tr>
              {% endfor %}

                  
              </tbody>
            </table>
          </div>
        </div>


        <div class="mb-3 clearfix">
            <nav aria-label="Nawigacja po stronach postów" class="float-lg-right">
                <ul class="pagination pagination-sm mb-lg-4">
                    {% if all_posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ all_posts.previous_page_number }}">Poprzednia</a></li>
                      {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Poprzednia</a></li>
                      {% endif %}
                      {% for page_item in range %}
                        {% if forloop.counter == all_posts.number %}
                          <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}">{{forloop.counter}}</a></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{forloop.counter}}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if all_posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ all_posts.next_page_number }}">Następna</a></li>
                      {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Następna</a></li>
                      {% endif %}
                </ul>
            </nav>
            <form class="form-inline float-lg-left d-block d-sm-flex">
                <div class="mb-2 mb-sm-0 mr-2">
                    Wyświetl post z poprzednich:
                </div>
                <div class="form-group mr-2">
                    <label class="sr-only" for="select-time">Okres czasu</label>
                    <select class="form-control form-control-sm" name="" id="select-time">
                        <option value="all-posts" selected>Wszystkie posty</option>
                        <option value="day">1 dzień</option>
                        <option value="week">1 tydzień</option>
                        <option value="month">1 miesiąc</option>
                        <option value="year">1 rok</option>
                    </select>
                </div>

                <div class="mb-2 mb-sm-0 mr-2">
                    Sortuj poprzez:
                </div>
                <div class="form-group mr-2">
                    <label class="sr-only" for="select-sort">Sortuj poprzez</label>
                    <select class="form-control form-control-sm" name="" id="select-sort">
                        <option value="author" selected>Autor</option>
                        <option value="post-time">Najnowsze</option>
                        <option value="replies">Odpowiedzi</option>
                        <option value="subject">Temat</option>
                        <option value="views">Wyświetlenia</option>
                    </select>
                </div>

                <div class="form-group mr-2">
                    <label class="sr-only" for="select-direction">Kierunek sortowania</label>
                    <select class="form-control form-control-sm" name="" id="select-direction">
                        <option value="asc">Rosnąco</option>
                        <option value="desc" selected>Malejąco</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Ok</button>
            </form>
        </div>
        <a href="{% url 'new_thread' 1 %}" class="btn btn-lg btn-primary">Nowy Temat</a>
    </div>
    </div>

   {% endblock content %}