{% extends 'forum/base.html' %} {% block content %}
<div class="home">
  <h1>Home page for user</h1>
  <br /><br />
  <a href="{% url 'index' %}">
    <button><i class="fas fa-home fa-3x"></i></button>
  </a>
  <a href="{% url 'log_out' %}">
    <button><i class="fas fa-sign-out-alt fa-3x"></i></button>
  </a>
</div>
{% for user in users %}
<p><b>Hello {{user.name}}</b></p>
<br /><br />
<a href="{% url 'math_page' user.id %}">ZESTAW TESTOWY</a><br /><br />
<a href="{% url 'user_at_forum' user.id %}">FORUM</a>

<a href="{% url 'userScore' user.id%}">Dotychczasowe uzyskane wyniki</a>

<br><br>
<a href="{% url 'addQuestionOpen' user.id %}">DODAJ ZADANIE OTWARTE</a>
<a href="{% url 'addQuestionClose' user.id %}">DODAJ ZADANIE ZAMKNIETE</a>
{% endfor %} {% endblock content %}
