.top{
    color:#FFC745;
    background-color: #293642;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    align-items:center;
    font-weight: bold !important;
}
span{
    height: fit-content;
    display: run-in !important;
    max-width: 100%;
    box-shadow: none!important;
    -webkit-box-shadow:none !important;
}
.bgContent{
    background-color: #EBEBEB;
}
.form-control-file::-webkit-file-upload-button {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #FFE06B;
    font-weight: bold;
    border: #FFE06B;
    color: black;
    border-radius: .25rem;
    cursor: pointer;
}