.top{
    color:#FFC745;
    background-color: #293642;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    align-items:center;
    font-weight: bold !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
span{
    height: fit-content;
    display: run-in !important;
    max-width: 100%;
    box-shadow: none!important;
    -webkit-box-shadow:none !important;
}
.bgContent{
    background-color: #EBEBEB;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-control-file::-webkit-file-upload-button {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #FFE06B;
    font-weight: bold;
    border: #FFE06B;
    color: black;
    border-radius: .25rem;
    cursor: pointer;
}
.form-control-file::-webkit-file-upload-button:hover {
    background-color: #002030;
    color: #FFE06B;
}
@media (min-width: 767px){
    .bgContent{
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 766px){
    .bgContent{
        margin-left: 15px;
        margin-right: 15px;
        
    }
}