.hiddenAnswer {
    display: block;
  }
  .keyboard {
    height: auto;
  }
  .ui-keyboard {
    position: static !important;
    margin-bottom: 1rem!important;
  }
  .ui-keyboard-preview-wrapper{ /* wyswietla sie gdy usePreview: false - powoduje błąd z wpisywaniem dwukrotnym znaku */
    display: none;
  }
  .dropdown-menu{
    float: none !important;
    border: none !important;
  }
  .mq-math-mode sup.mq-nthroot {
    vertical-align: 0 !important;
  }
  .ui-keyboard button{
    font-size:90%;
  }
  @media only screen and (max-width: 479px) {
    .ui-keyboard button{
      font-size:140%;
    }
  }

  .mq-textcolor .mq-text-mode {
    display: block;
}