.hiddenAnswer {
    display: none;
  }
  .keyboard {
    height: auto;
  }
  .ui-keyboard {
    position: static !important;
    margin-bottom: 1rem!important;
  }
  .ui-keyboard-button{
    background-color: #FFE06B !important;
    font-weight: bold !important;
    border: #FFE06B !important;
    color: black !important;
  }
  .ui-keyboard-button:hover{
    background-color: #002030 !important;
    color: #FFE06B !important;
  }
  .ui-keyboard-preview-wrapper{ /* wyswietla sie gdy usePreview: false - powoduje błąd z wpisywaniem dwukrotnym znaku */
    display: none;
  }
  .dropdown-menu{
    float: none !important;
    border: none !important;
  }
  .mq-math-mode sup.mq-nthroot {
    vertical-align: 0 !important;
  }
  .ui-keyboard-button{
    height: initial !important;
 }
 .keyboardInputDiv{
   border-color: none !important;
   box-shadow: none !important;
 }