#nav {
  background: #002030 !important;
  width: 100%;
  z-index: 1003;
}
#nav .navbar-nav > .nav-item > .nav-link {
  font-size: 11px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
#nav .navbar-nav > .nav-item > .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #90ab23 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: left bottom;
  z-index: -1;
  transition: all 0.5s ease;
  cursor:pointer;
}
#nav .navbar-nav > .nav-item > .nav-link:hover:before {
  background-position: right top;
}
@media (max-width: 991.98px) {
  #nav .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #90ab23;
  }
  #nav .navbar-nav > .nav-item > .nav-link:hover {
    color: #fff;
  }
  #nav .navbar-nav > .nav-item > .nav-link:hover:before {
    display: none;
  }
}
#nav .navbar-nav > .nav-item .dropdown-menu {
  border: none;
  background: #90ab23;
  border-radius: 4px;
}
#nav .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
  font-size: 12px;
  color: #002030;
  font-weight: 700;
}
#nav .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover,
#nav .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
  background: none;
  color: #ffffff !important;
}
@media (max-width: 991.98px) {
  #nav .navbar-nav > .nav-item .dropdown-menu {
    background: #90ab23;
  }
}
#nav .navbar-nav > .nav-item.cta > a {
  color: #fff;
  background: #f1bc31;
  border-radius: 0px;
}
@media (max-width: 767.98px) {
  #nav .navbar-nav > .nav-item.cta > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 991.98px) {
  #nav .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: none;
    border-radius: 4px;
  }
}
#nav .navbar-nav > .nav-item.active > a {
  color: #fff;
}
#nav .navbar-nav > .nav-item.active > a:before {
  visibility: visible;
  background-color: #f1bc31;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
@media (max-width: 991.98px) {
  #nav .navbar-nav > .nav-item.active > a {
    color: #f1bc31;
  }
  #nav .navbar-nav > .nav-item.active > a:before {
    display: none;
  }
}
#nav .navbar-toggler {
  border: none;
  color: #ccc500 !important;
  cursor: default;
  padding-right: 0;
  margin-left: -25px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
#nav .navbar-toggler:focus {
  outline: none !important;
}


.hamburger{
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  width: 30px;
  height: 22px;
}
.hamburger > span {
  position: absolute;
  left: 0;
  border-top: 4px solid white;
  width: 100%;
  transition: 0.8s;
}
.hamburger > span:nth-child(1) {
  top: 0;
}
.hamburger > span:nth-child(2) {
  top: 9px;
}
.hamburger > span:nth-child(3) {
  top: 18px;
}
.hamburger-top {
  top: 9px !important;
  transform: rotate(45deg);
  transition: 0.8s 0.5s;
}
.hamburger-middle {
  opacity: 0;
}
.hamburger-bottom {
  top: 9px !important;
  transform: rotate(-405deg);
  transition: 0.8s 0.5s;
}
footer{
  background: #002030 !important;
}
footer i
{
  font-size: 16px;  
}
footer span{
  padding-left: 15px;
}
