.content{
    margin-top: 5rem;
}
.description {
    background-color: #668099;
    color: #fff176;
    font-size: 24px;
  }
.odp .mclose 
{
    padding-right:5px;
}
.odp .mord.mathnormal{
    margin-left:50px;
}
.description {
    color: #FFC745;
    background-color: #293642;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    align-items: center;
    font-weight: bold !important;
  }


.katex .base{
  white-space: normal !important;
}
.form-check-label .katex .base{
  width: 100% !important;
}
.katex .base, .katex .strut {
  display: initial !important;
}
img{
  max-width: 30%;
  height: auto;
}
@media (max-width: 575px) {
  img{
      min-width: 60px;
  }
}