img{ width:70px; height:auto;}
#answer0{
    width:100%; 
    background-color:white; 

    height:200px;
}
.addAnswer button
{
    border:none;
    background-color:transparent;
    color: #007bff;
    text-decoration: none;
}
